<div class="jumbotron center">
<h1>Welcome to my recipes</h1>
<h2>The best recipe sharing app built using ruby on rails</h2>
<p> <%= link_to 'Sign Up', new_chef_path, class: 'btn btn-primary btn-xlarge' %></p>
</div>

<div class="row">
    <% @recipes.each do |r| %>
        <div class="col-lg-4">
    <h2><%= r.name %> </h2>
    <p class='text-danger'></p>
    <p><%= r.description %> </p>
    <p><%= link_to 'View More', recipe_path(r) %>  </p>
    </div>
    <% end %>
</div>